<%- include('partials/header') %>

<div class="container container-main">
  <div class="row">
    <div class="col-lg-3">
      <h1 class="my-4">O'Fig</h1>
      <%- include('partials/leftMenu') %>
    </div>

    <div class="col-lg-9">
      <div class="row">
        <div class="col-lg-6">
          <img class="" src="/images/<%= figurine.name %>.png" alt="" />
        </div>

        <div class="col-lg-6">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title">
                <%= figurine.name %>
                <div class="badge badge-pill badge-gentil">
                  <%= figurine.category %>
                </div>
              </h3>
              <p class="card-text">Taille réelle : <%= figurine.size %> cm</p>
              <p class="card-text"><%= figurine.description %></p>
              <p class="card-text">
                3 Note moyenne : &#9733; &#9733; &#9733; &#9733; &#9734;
                <br />
                <a href="#" data-toggle="modal" data-target="#reviewsModal">
                  Détails des avis
                </a>
              </p>
              <h5>$ <%= figurine.price %></h5>
              <p class="card-text">
                <a
                  href="/favoris/add/<%= figurine.id %>"
                  class="link-add-bookmarks"
                >
                  + Ajouter aux favoris
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('review') %>
<%- include('partials/footer') %>
